.rform {
	 padding-left: 25%;
	 padding-top: 15%;
     width: 100%;
}

#myformurl {
     width: 50%;
     max-width: 1000px;
     
}
.myurl {
	 
	  padding-left: 25%;
      color:blue;
      font-size:20px;
     
}
table{
	padding-left:10%;
      }

td{
	width: 500px; 
	border: solid 1px silver; 
	text-align:center;
      }
	  
th{
	width: 500px; 
	border: solid 1px silver; 
	text-align:center;
      }

#copy {
	  
	 
      color:blue;
      font-size:20px;   
}

.inputlink {
     width: 85%;
     height: 15px;
     border: 1px solid #d8d8d8;
     border-radius: 5px;
     padding: 27px 24px 23px;
}

.btn {
     width: 85%;
     height: 65px;
     border: none;
     border-radius: 5px;
     background: #ffe100;
	  cursor: pointer;
}

.labellink {
	 color:gray;
     font-size:20px;
}

.messenger {
		
      color:red;
      font-size:20px;  
	
}

#show{
	width: 100%; 
}